*{ 
	margin: 0; 
   padding: 0;}
   /*侧栏*/
#sidebar{
	position: fixed;
	right:0; 
	top: 0; 
	width: 35px; 
	background: #000; 
	text-align:center;
	font-size: 14px; 
	height: 100%;
	z-index: 6;
	/*overflow: hidden;*/}
#sidebar a{
	text-decoration: none; 
	color: #FFFFFF;}
.sideTop,.sideCon{
	padding: 20px 10px; }
.sideTop{
	background-color: #e10482;	
	position: relative;
	margin-top: 147px;
	margin-bottom: 4px;}
.sideTopChild{
	position: absolute;
	right: 80px; top: 0;
	background: #fff; 
	padding: 20px 0; 
	height: 90px; 
	width: 150px;
	font-size: 12px;
	text-align: left;
	line-height: 20px; 
	border: 1px solid #ccc; 
	/*z-index: 9;*/
	display: none;
	opacity: 0.3;}
.sideTopChild span{
	display:inline-block;
    background-color: #b5e5f3;
    text-align:center; 
    margin-left: 35px; 
    padding: 3px 10px;
    border-radius: 10px;
    margin-bottom: 10px;}	
.sideTopChild p{
	margin: 0 3px;}	
.sideCon b{
	display:block;
	width:50px height:50px;
	background-color: #fff; 
	border-radius:50%; 
	margin-top: 8px; 
	color:#e10482 ;}
.sideCon:hover,.sideFotImg:hover{
	background: #e10482;}
.sideFot{
	position: relative;
	}
.sideFotImg{
	padding: 8px;}
.sideFot .sideFotChild{ 
	position: absolute;
 	right: 80px; top:0;
  	padding: 5px; 
  	border: 1px #ccc solid;
   	width: 130px;
    color:#e10482 ;
    display: none;
    background: #fff;}
.fose{ position: absolute; bottom: 103px;}
#sideFotLast{ 
	color: #fff;
	position: absolute;
	bottom: 25px; 
	overflow: hidden;}
#sideFotLast:hover{ background: #e10482;}
  /*头部*/
#header{
	width: 100%;
	overflow: hidden;
}
#header .headTop{
	width: 1200px;
	background: #f4f4f4;
	font-size: 12px;
	line-height: 26px;
	overflow: hidden;
}
.headTop .top_rig{
	width:300px;
	float: right;
	margin-right: 40px;
	overflow: hidden;
}
.top_rig a{
	padding:0 8px;
	text-decoration: none;
	color: black;
}
.headTop .top_le{
	width: 300px;
	margin-left: 30px;
	text-decoration: none;
	color: black;
	overflow: hidden;
}
.top_le a{
	text-decoration: none;
	color: black;
	padding: 4px;
}
.top_le .topPhone{
	background: url(../img/icon3.jpg) no-repeat left center;
	padding-left: 15px;
	
}
.headCon{
	overflow: hidden;
}
.headCon img{
	float: left;
}
.search{
	float: right;
	margin-right: 120px;
	margin-top: 30px;
	width: 495px;
}
.headCon .conTxt{
	border: 3px solid #E10482;
	border-right: none;
	width: 374px;
	height: 29px;
	float: left;
	background: url(../img/icon8.png) no-repeat 5px center;
	padding-left: 26px;
	outline: none;
}
.headCon .conBtn{
	border: none;
	width: 90px;
	height: 35px;
	background: #E10482;
	color: #fff;
	text-align:center;
	line-height: 30px;
}
.headCon p{
	font-size: 12px;
	line-height: 20px;
	color: #979797;
}
.headCon p a{
	color: #979797;
	text-decoration: none;
}
.headFot{
	width: 100%;
	background: #000;
	overflow: hidden;
}
.headFot .nav{
	overflow: hidden; 
}
.headFot .nav{
	margin-left: 50px;
}
.headFot .nav li{
	list-style: none;
}
.headFot .nav .lis{
	float: left;
	margin: 0 12px;
	padding: 10px;
    
}
.headFot .nav .lis a{
	text-decoration: none;
	color: #fff;
	
}
.headFot .nav .sort{
	width: 100px;
	float: right;
	margin-right: 35px;
	padding: 8px;
	
	
}
.headFot .nav .sort img{
	margin-right: 5px;
	position: relative;
	top:5px;
}
.headFot .nav .sort span{
	text-decoration: none;
}
.sort .list{
	overflow: hidden;
	position:absolute;
	z-index: 3;
	right: 30px;
	padding: 10px;
	width: 750px;
	display: none;
	
	
}
.list .ullist{
	overflow: hidden;
	width:180px;
	background:#fff;
	float: left;	
}
.ullist li{
	width: 150px;
	padding: 10px 0 10px 30px;
    font-size: 16px;
    line-height: 34px;
    
}
.ullist li:hover{
	color: #fff;
	background: #000033;
}

.ullist li img{
	vertical-align: -6px;
}
.ullist li a{
	text-decoration: none;
}
.mainList{
	width: 570px;
	overflow: hidden;
	background:#F8F8F8;
	float: left;
	opacity: 0.8;
}
.mainList div{
	overflow: hidden;
	display: none;
	padding-bottom: 40px;
}
.mainList div a{
	text-decoration: none;
	color: #000;
	margin-top: 10px;
}
.mainList div h4{
	margin-bottom: 10px;
	border-bottom: 2px solid black;
	width: 230px;
	font-size: 14px;
    line-height: 24px;
}
.mainList div li{
	float: left;
	width:230px;
    margin-left: 20px;
    margin-top: 18px;
}
.mainList div li p a{
	font-size: 12px;
	margin-left: 5px;
	line-height: 25px;	
}
.mainList div span{
	display: inline-block;
	width: 100px;
	height: 20px;
	border: 1px solid #CCCCCC;
	border-radius: 7px;
	padding-top: 4px;
	background: #979797;
	position: relative;
	left:420px;
	top:15px;
	
}
.active{
	color:#fff;
	background: #003;
	
}
#fotter{
	width: 100%;
	overflow: hidden;
	background: #fff;
}
#fotter .fotTop{
	width:1020px;
	margin: 35px auto;
	overflow: hidden;
}
.fotTop dl{
	width: 100px;
	margin-right: 50px;
	float: left;
}
.fotTop dl dt{
	font-size: 16px;
	line-height: 30px;
	color: #999;
	text-align: center;
}
.fotTop dl dd{
	font-size:14px;
	color: #000000;
	line-height: 24px;
	text-align: center;
	font-family: "微软雅黑";
}
.fotTop dl dd:hover{
	text-decoration:underline;
	color: #e10482;
	cursor: pointer;
}

.fotTop .dlspe{
	margin-left: 83px;
}
.fotCon{
	width: 1267px;
	background: #000000;
	overflow: hidden;
}
.fotCon span{
	font-size: 16px;
	color: #e30485;
	font-weight: bold;
	line-height: 33px;
	margin-left: 30px;
	float: left;
}
.fotCon span img{
	float: left;
}

.fotCon p {
	width: 650px;
	float: right;
	
}

.fotCon p a {
	color: #fff;
	font-size: 12px;
	line-height: 34px;
	display: block;
	width: 75px;
	float: left;
	text-align: center;
	text-decoration: none;
}

.fotCon p a:hover {
	background: #e10482;
}
.fotLast{
	width: 100%;
	overflow:hidden ;
}
.fotLast p{
	width: 500px;
	margin: 20px auto;
	line-height: 24px;
	color: #9c9c9c;
	font-weight: 700;
}
.fotLast .last {
	width: 1190px;
	margin: 0 auto 30px;
	border: 1px solid #eeeeee;
	text-align: center;
}

.last img {
	margin: 5px 0 5px 20px;
	padding-right: 20px;
	border-right: 1px solid #eeeeee;
}

.last img.limg {
	border-right: none;
}


	
	
	
	
	
	
	
	

	
	
	
	
	
	
	
	
	 


	
	
	
	
	
	
	
	
	 
